@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-lemon {
        font-family: "Lemon", serif;
    }

    .font-manrope {
        font-family: 'Manrope', sans-serif;
    }

    /* width */
    .scrollbar-none::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    .scrollbar-none::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .scrollbar-none::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .scrollbar-none::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}